<% if session[:username] %>
<h1><%= "Hi, #{session[:username]}" %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
<% else %>
<h1><%= "Please log in" %></h1>
<%= link_to ({controller: 'sessions', action: 'new', method: 'get'}) do %>
  <input type=submit value='login'>
<% end %>

<% end  %>
